.header {
  display: flex;
  flex-direction: column;
}

/* Top header */

.header > .top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px;
  height: 40px;
}

.header > .top-header > .left-group {
  display: flex;
  align-items: center;
}

.header > .top-header > .left-group > .visa-container {
  display: flex;
  align-items: center;
}

.header > .top-header > .left-group > .visa-container > .visa-logo,
.visa-text {
  display: flex;
}

/* .header > .top-header > .left-group > .visa-container > .visa-text {} */

.header > .top-header > .left-group > .ver-divider {
  border-left: 1px solid var(--text-color);
  height: 20px;
  margin: 0px 15px;
  opacity: 50%;
}

/* .header > .top-header > .left-group > .text {} */

.header > .top-header > .right-group {
  display: flex;
  align-items: center;
}

.header > .top-header > .right-group > .signin {
  font-family: "Roboto Medium";
  font-size: 14px;
}

.header > .top-header > .right-group > .ver-divider {
  border-left: 1px solid var(--text-color);
  height: 20px;
  margin: 0px 15px;
  opacity: 50%;
}

/* .header > .top-header > .right-group > .text {} */

.header > .hor-divider {
  border-top: 1px solid var(--text-color);
  width: 100%;
  opacity: 25%;
}

/* Main header */

.header > .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 70px;
}

/* .header > .main-header > .logo {} */

.header > .main-header > .navigation {
  display: flex;
  gap: 60px;
  font-size: 16px;
}

/* .header > .main-header > .navigation > .navigation-item {} */

.header > .main-header > .right-group {
  display: flex;
  align-items: center;
}

.header > .main-header > .right-group > .number {
  font-size: 24px;
  margin: 0 30px;
  text-decoration: none;
  color: var(--text-color);
}

.header > .main-header > .right-group > .media-icons {
  width: 54px;
  display: flex;
  justify-content: space-between;
}

.header > .main-header > .right-group > .media-icons > .icon {
  width: 24px;
  height: 24px;
}

.header > .main-header > .right-group > .ver-divider {
  border-left: 1px solid var(--text-color);
  height: 40px;
  margin: 0px 25px;
  opacity: 50%;
}

.header > .main-header > .right-group > .profile {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.header > .main-header > .right-group > .profile > .icon {
  width: 22px;
  height: 22px;
}
