/* Sections */
@import url(normalize.css);
@import url(fonts.css);
@import url(main.css);
@import url(mobile-header.css);
@import url(mobile-menu.css);
@import url(header.css);
@import url(email.css);
@import url(stores.css);
@import url(ordercall.css);
@import url(delivery-payment.css);
@import url(deliver-options.css);
@import url(payment-options.css);
@import url(mobile-footer.css);
@import url(footer.css);

:root {
  --primary-color: #962689;
  --primary-bg-color: #f3f3f3;
  --text-color: #103742;
  --white: #ffffff;
  --toast-info: #3e8ed0;
  --toast-success: #48c78e;
  --toast-warning: #ffbb55;
  --toast-danger: #f14668;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: var(--primary-bg-color);
  min-height: -webkit-fill-available;
  width: 100%;
}

.custom-toast > .toast-close {
  margin-left: 16px;
}

.toast-type-info {
  background-color: var(--toast-info);
}

.toast-type-success {
  background: var(--toast-success);
}

.toast-type-warning {
  background: var(--toast-warning);
}

.toast-type-danger {
  background: var(--toast-danger);
}

.form-error {
  border: 2px solid red !important;
  color: red;
}
