.mobile-header {
  padding: 10px 20px;
  height: 90px;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg-color);
  /* position: sticky;
  top: 0;
  z-index: 4; */
}

.mobile-header > .menu-toggle-btn {
  width: 24px;
  height: 24px;
}

.mobile-header > .logo {
  /* width: 120px; */
  /* height: 60px; */
}
