.main > .stores > .holder > .storeholder {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main > .stores > .holder > .storeholder > #info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
}

.main > .stores > .holder > .storeholder > #info > .name {
  font-size: 24px;
}

.main > .stores > .holder > .storeholder > #info > .location {
  display: flex;
  gap: 15px;
}

.main > .stores > .holder > .storeholder > #info > .location > .logo {
  width: 20px;
  height: 20px;
}

/* .main > .stores > .holder > .storeholder > #info > .location > .content {} */

.main > .stores > .holder > .storeholder > #info > .email {
  display: flex;
  gap: 15px;
}

.main > .stores > .holder > .storeholder > #info > .email > .logo {
  width: 22px;
  height: 22px;
}

/* .main > .stores > .holder > .storeholder > #info > .email > .content {} */

.main > .stores > .holder > .storeholder > #info > .number {
  display: flex;
  gap: 15px;
}

.main > .stores > .holder > .storeholder > #info > .number > .logo {
  width: 22px;
  height: 22px;
}

/* .main > .stores > .holder > .storeholder > #info > .number > .content {} */

/* .main > .stores > .holder > .storeholder > #info > .number > .content > .media {} */

/* .main > .stores > .holder > .storeholder > #info > .number > .content > .media > .link {} */

.main
  > .stores
  > .holder
  > .storeholder
  > #info
  > .number
  > .media
  > .link
  > .logo {
  width: 22px;
  height: 22px;
}

.main > .stores > .holder > .storeholder > #info > .working-hours {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.main > .stores > .holder > .storeholder > #info > .working-hours > .logo {
  width: 22px;
  height: 22px;
}

/* .main > .stores > .holder > .storeholder > #info > .working-hours > .content {} */

/* .main > .stores > .holder > .storeholder > #info > .working-hours > .content > .label {} */

.main
  > .stores
  > .holder
  > .storeholder
  > #info
  > .working-hours
  > .content
  > .store,
.delivery {
  font-family: "Roboto Regular";
}

/* .main > .stores > .holder > .storeholder > #info > .working-hours > .content > .delivery {} */

/* .main > .stores > .holder > .storeholder > #info > .media {} */

/* .main > .stores > .holder > .storeholder > #info > .media > .link {} */

/* .main > .stores > .holder > .storeholder > #info > .media > .link > .logo {} */

/* .main > .stores > .holder > .storeholder > #info > .show-on-map {} */

.main > .stores > .holder > .storeholder > .carousel {
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.main > .stores > .holder > .storeholder > .carousel > #preview {
}

/* .main > .stores > .holder > .storeholder > .carousel > .slider-holder {} */

/* .main
  > .stores
  > .holder
  > .storeholder
  > .carousel
  > .slider-holder
  > #image-slider {
} */

.main
  > .stores
  > .holder
  > .storeholder
  > .carousel
  > .slider-holder
  > #image-slider
  > .splide-track {
}
